
USE [Northwind]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 9/16/2022 7:27:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[Id] [float] NULL,
	[Compañía] [nvarchar](255) NULL,
	[Apellidos] [nvarchar](255) NULL,
	[Nombre] [nvarchar](255) NULL,
	[Dirección de correo electrónico] [nvarchar](255) NULL,
	[Cargo] [nvarchar](255) NULL,
	[Teléfono del trabajo] [nvarchar](255) NULL,
	[Teléfono particular] [nvarchar](255) NULL,
	[Teléfono móvil] [nvarchar](255) NULL,
	[Número de fax] [nvarchar](255) NULL,
	[Dirección] [nvarchar](255) NULL,
	[Ciudad] [nvarchar](255) NULL,
	[Estado o provincia] [nvarchar](255) NULL,
	[C Postal] [nvarchar](255) NULL,
	[País o región] [nvarchar](255) NULL,
	[Página Web] [nvarchar](255) NULL,
	[Notas] [nvarchar](255) NULL,
	[Datos adjuntos] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cuerdas]    Script Date: 9/16/2022 7:27:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cuerdas](
	[Id de cadena] [float] NULL,
	[Datos de cadena] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Detalles_de_pedido]    Script Date: 9/16/2022 7:27:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detalles_de_pedido](
	[Id] [float] NULL,
	[Id de pedido] [float] NULL,
	[Id de producto] [float] NULL,
	[Cantidad] [float] NULL,
	[Precio] [float] NULL,
	[Descuento] [float] NULL,
	[Id de situación] [float] NULL,
	[Fecha de asignación] [nvarchar](255) NULL,
	[Id de pedido de compra] [float] NULL,
	[Id de inventario] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Detalles_de_pedidos_de_compra]    Script Date: 9/16/2022 7:27:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detalles_de_pedidos_de_compra](
	[Id] [float] NULL,
	[Id de pedido de compra] [float] NULL,
	[Id de producto] [float] NULL,
	[Cantidad] [float] NULL,
	[Costo unitario] [float] NULL,
	[Fecha de recepción] [datetime] NULL,
	[Publicado en el inventario] [bit] NOT NULL,
	[Id de inventario] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleados]    Script Date: 9/16/2022 7:27:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleados](
	[Id] [float] NULL,
	[Compañía] [nvarchar](255) NULL,
	[Apellidos] [nvarchar](255) NULL,
	[Nombre] [nvarchar](255) NULL,
	[Dirección de correo electrónico] [nvarchar](255) NULL,
	[Cargo] [nvarchar](255) NULL,
	[Teléfono del trabajo] [nvarchar](255) NULL,
	[Teléfono particular] [nvarchar](255) NULL,
	[Teléfono móvil] [nvarchar](255) NULL,
	[Número de fax] [nvarchar](255) NULL,
	[Dirección] [nvarchar](255) NULL,
	[Ciudad] [nvarchar](255) NULL,
	[Estado o provincia] [nvarchar](255) NULL,
	[C Postal] [nvarchar](255) NULL,
	[País o región] [nvarchar](255) NULL,
	[Página Web] [nvarchar](255) NULL,
	[Notas] [nvarchar](255) NULL,
	[Datos adjuntos] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estado_de_detalles_de_pedidos]    Script Date: 9/16/2022 7:27:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estado_de_detalles_de_pedidos](
	[Id de situación] [float] NULL,
	[Nombre del estado] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estado_de_impuestos_de_pedidos]    Script Date: 9/16/2022 7:27:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estado_de_impuestos_de_pedidos](
	[Id] [float] NULL,
	[Nombre del estado de impuestos] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estado_de_pedidos]    Script Date: 9/16/2022 7:27:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estado_de_pedidos](
	[Id de situación] [float] NULL,
	[Nombre del estado] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estado_de_pedidos_de_compra]    Script Date: 9/16/2022 7:27:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estado_de_pedidos_de_compra](
	[Id de situación] [float] NULL,
	[Estado] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Facturas]    Script Date: 9/16/2022 7:27:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Facturas](
	[Id de factura] [float] NULL,
	[Id de pedido] [float] NULL,
	[Fecha] [datetime] NULL,
	[Fecha de vencimiento] [nvarchar](255) NULL,
	[Impuestos] [float] NULL,
	[Envío] [float] NULL,
	[Importe debido] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pedidos]    Script Date: 9/16/2022 7:27:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedidos](
	[Id de pedido] [float] NULL,
	[Id de empleado] [float] NULL,
	[Id de cliente] [float] NULL,
	[Fecha de pedido] [datetime] NULL,
	[Fecha de envío] [datetime] NULL,
	[Id de transportista] [float] NULL,
	[Nombre de envío] [nvarchar](255) NULL,
	[Dirección de envío] [nvarchar](255) NULL,
	[Ciudad dest] [nvarchar](255) NULL,
	[Edo/Prov dest] [nvarchar](255) NULL,
	[Código postal de envío] [nvarchar](255) NULL,
	[País o región de envío] [nvarchar](255) NULL,
	[Gastos de envío] [float] NULL,
	[Impuestos] [float] NULL,
	[Tipo de pago] [nvarchar](255) NULL,
	[Fecha de pago] [datetime] NULL,
	[Notas] [nvarchar](255) NULL,
	[Tipo impositivo] [float] NULL,
	[Estado de impuestos] [nvarchar](255) NULL,
	[Id de situación] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pedidos_de_compra]    Script Date: 9/16/2022 7:27:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedidos_de_compra](
	[Id de pedido de compra] [float] NULL,
	[IdProveedor] [float] NULL,
	[Creado por] [float] NULL,
	[Fecha de envío] [datetime] NULL,
	[Fecha de creación] [datetime] NULL,
	[Id de situación] [float] NULL,
	[Fecha prevista] [nvarchar](255) NULL,
	[Gastos de envío] [float] NULL,
	[Impuestos] [float] NULL,
	[Fecha de pago] [nvarchar](255) NULL,
	[Importe de pago] [float] NULL,
	[Modo de pago] [nvarchar](255) NULL,
	[Notas] [nvarchar](255) NULL,
	[Aprobado por] [float] NULL,
	[Fecha de aprobación] [datetime] NULL,
	[Enviado por] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Privilegios]    Script Date: 9/16/2022 7:27:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Privilegios](
	[Id de privilegio] [float] NULL,
	[Nombre del privilegio] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Privilegios_de_empleados]    Script Date: 9/16/2022 7:27:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Privilegios_de_empleados](
	[Id de empleado] [float] NULL,
	[Id de privilegio] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 9/16/2022 7:27:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[Id de proveedores] [nvarchar](255) NULL,
	[Id] [float] NULL,
	[Código de producto] [nvarchar](255) NULL,
	[Nombre del producto] [nvarchar](255) NULL,
	[Descripción] [nvarchar](255) NULL,
	[Costo estándar] [float] NULL,
	[Precio listado] [float] NULL,
	[Punto de pedido] [float] NULL,
	[Nivel objetivo] [float] NULL,
	[Cantidad por unidad] [nvarchar](255) NULL,
	[Suspendido] [bit] NOT NULL,
	[Cantidad mínima de reposición] [float] NULL,
	[Categoría] [nvarchar](255) NULL,
	[Datos adjuntos] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedores]    Script Date: 9/16/2022 7:27:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedores](
	[Id] [float] NULL,
	[Compañía] [nvarchar](255) NULL,
	[Apellidos] [nvarchar](255) NULL,
	[Nombre] [nvarchar](255) NULL,
	[Dirección de correo electrónico] [nvarchar](255) NULL,
	[Cargo] [nvarchar](255) NULL,
	[Teléfono del trabajo] [nvarchar](255) NULL,
	[Teléfono particular] [nvarchar](255) NULL,
	[Teléfono móvil] [nvarchar](255) NULL,
	[Número de fax] [nvarchar](255) NULL,
	[Dirección] [nvarchar](255) NULL,
	[Ciudad] [nvarchar](255) NULL,
	[Estado o provincia] [nvarchar](255) NULL,
	[C Postal] [nvarchar](255) NULL,
	[País o región] [nvarchar](255) NULL,
	[Página Web] [nvarchar](255) NULL,
	[Notas] [nvarchar](255) NULL,
	[Datos adjuntos] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tipos_de_transacciones_de_inven]    Script Date: 9/16/2022 7:27:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tipos_de_transacciones_de_inven](
	[Id] [float] NULL,
	[Nombre del tipo] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transacciones_de_inventario]    Script Date: 9/16/2022 7:27:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transacciones_de_inventario](
	[Id de transacción] [float] NULL,
	[Tipo de transacción] [float] NULL,
	[Fecha de creación de la transacción] [datetime] NULL,
	[Fecha modificada de la transacción] [datetime] NULL,
	[Id de producto] [float] NULL,
	[Cantidad] [float] NULL,
	[Id de pedido de compra] [nvarchar](255) NULL,
	[Id de pedido de cliente] [nvarchar](255) NULL,
	[Comentarios] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transportistas]    Script Date: 9/16/2022 7:27:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transportistas](
	[Id] [float] NULL,
	[Compañía] [nvarchar](255) NULL,
	[Apellidos] [nvarchar](255) NULL,
	[Nombre] [nvarchar](255) NULL,
	[Dirección de correo electrónico] [nvarchar](255) NULL,
	[Cargo] [nvarchar](255) NULL,
	[Teléfono del trabajo] [nvarchar](255) NULL,
	[Teléfono particular] [nvarchar](255) NULL,
	[Teléfono móvil] [nvarchar](255) NULL,
	[Número de fax] [nvarchar](255) NULL,
	[Dirección] [nvarchar](255) NULL,
	[Ciudad] [nvarchar](255) NULL,
	[Estado o provincia] [nvarchar](255) NULL,
	[C Postal] [nvarchar](255) NULL,
	[País o región] [nvarchar](255) NULL,
	[Página Web] [nvarchar](255) NULL,
	[Notas] [nvarchar](255) NULL,
	[Datos adjuntos] [nvarchar](255) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Clientes] ([Id], [Compañía], [Apellidos], [Nombre], [Dirección de correo electrónico], [Cargo], [Teléfono del trabajo], [Teléfono particular], [Teléfono móvil], [Número de fax], [Dirección], [Ciudad], [Estado o provincia], [C Postal], [País o región], [Página Web], [Notas], [Datos adjuntos]) VALUES (1, N'Compañía A', N'Benito', N'Almudena', NULL, N'Propietario', N'987 654 321', NULL, NULL, N'987 654 321', N'Calle Primera, 123', N'Seattle', N'Madrid', N'99999', N'España', NULL, NULL, NULL)
INSERT [dbo].[Clientes] ([Id], [Compañía], [Apellidos], [Nombre], [Dirección de correo electrónico], [Cargo], [Teléfono del trabajo], [Teléfono particular], [Teléfono móvil], [Número de fax], [Dirección], [Ciudad], [Estado o provincia], [C Postal], [País o región], [Página Web], [Notas], [Datos adjuntos]) VALUES (2, N'Compañía B', N'Bermejo', N'Antonio', NULL, N'Propietario', N'987 654 321', NULL, NULL, N'987 654 321', N'Calle Segunda, 123', N'Boston', N'MA', N'99999', N'España', NULL, NULL, NULL)
INSERT [dbo].[Clientes] ([Id], [Compañía], [Apellidos], [Nombre], [Dirección de correo electrónico], [Cargo], [Teléfono del trabajo], [Teléfono particular], [Teléfono móvil], [Número de fax], [Dirección], [Ciudad], [Estado o provincia], [C Postal], [País o región], [Página Web], [Notas], [Datos adjuntos]) VALUES (3, N'Compañía C', N'López', N'Arturo', NULL, N'Representante de compras', N'987 654 321', NULL, NULL, N'987 654 321', N'Calle Tercera, 123', N'Los Ángeles', N'CA', N'99999', N'España', NULL, NULL, NULL)
GO
INSERT [dbo].[Cuerdas] ([Id de cadena], [Datos de cadena]) VALUES (2, N'Northwind Traders')
INSERT [dbo].[Cuerdas] ([Id de cadena], [Datos de cadena]) VALUES (3, N'No se puede quitar el inventario publicado.')
INSERT [dbo].[Cuerdas] ([Id de cadena], [Datos de cadena]) VALUES (4, N'Producto en lista de espera servido para el pedido nº |')
GO
INSERT [dbo].[Detalles_de_pedido] ([Id], [Id de pedido], [Id de producto], [Cantidad], [Precio], [Descuento], [Id de situación], [Fecha de asignación], [Id de pedido de compra], [Id de inventario]) VALUES (27, 30, 34, 100, 14, 0, 2, NULL, 96, 83)
INSERT [dbo].[Detalles_de_pedido] ([Id], [Id de pedido], [Id de producto], [Cantidad], [Precio], [Descuento], [Id de situación], [Fecha de asignación], [Id de pedido de compra], [Id de inventario]) VALUES (28, 30, 80, 30, 3.5, 0, 2, NULL, NULL, 63)
INSERT [dbo].[Detalles_de_pedido] ([Id], [Id de pedido], [Id de producto], [Cantidad], [Precio], [Descuento], [Id de situación], [Fecha de asignación], [Id de pedido de compra], [Id de inventario]) VALUES (29, 31, 7, 10, 30, 0, 2, NULL, NULL, 64)
GO
INSERT [dbo].[Detalles_de_pedidos_de_compra] ([Id], [Id de pedido de compra], [Id de producto], [Cantidad], [Costo unitario], [Fecha de recepción], [Publicado en el inventario], [Id de inventario]) VALUES (238, 90, 1, 40, 14, CAST(N'2006-01-22T00:00:00.000' AS DateTime), 1, 59)
INSERT [dbo].[Detalles_de_pedidos_de_compra] ([Id], [Id de pedido de compra], [Id de producto], [Cantidad], [Costo unitario], [Fecha de recepción], [Publicado en el inventario], [Id de inventario]) VALUES (239, 91, 3, 100, 8, CAST(N'2006-01-22T00:00:00.000' AS DateTime), 1, 54)
INSERT [dbo].[Detalles_de_pedidos_de_compra] ([Id], [Id de pedido de compra], [Id de producto], [Cantidad], [Costo unitario], [Fecha de recepción], [Publicado en el inventario], [Id de inventario]) VALUES (240, 91, 4, 40, 16, CAST(N'2006-01-22T00:00:00.000' AS DateTime), 1, 55)
GO
INSERT [dbo].[Empleados] ([Id], [Compañía], [Apellidos], [Nombre], [Dirección de correo electrónico], [Cargo], [Teléfono del trabajo], [Teléfono particular], [Teléfono móvil], [Número de fax], [Dirección], [Ciudad], [Estado o provincia], [C Postal], [País o región], [Página Web], [Notas], [Datos adjuntos]) VALUES (1, N'Northwind Traders', N'González', N'María', N'nancy@northwindtraders.com', N'Representante de ventas', N'987 654 321', N'987 654 321', NULL, N'987 654 321', N'Avenida Primera, 123', N'Seattle', N'Madrid', N'99999', N'España', N'#http://northwindtraders.com#', NULL, NULL)
GO
INSERT [dbo].[Estado_de_detalles_de_pedidos] ([Id de situación], [Nombre del estado]) VALUES (0, N'Ninguno')
INSERT [dbo].[Estado_de_detalles_de_pedidos] ([Id de situación], [Nombre del estado]) VALUES (1, N'Asignado')
INSERT [dbo].[Estado_de_detalles_de_pedidos] ([Id de situación], [Nombre del estado]) VALUES (2, N'Facturado')
GO
INSERT [dbo].[Estado_de_impuestos_de_pedidos] ([Id], [Nombre del estado de impuestos]) VALUES (0, N'Exento de impuestos')
INSERT [dbo].[Estado_de_impuestos_de_pedidos] ([Id], [Nombre del estado de impuestos]) VALUES (1, N'Sujeto a impuestos')
GO
INSERT [dbo].[Estado_de_pedidos] ([Id de situación], [Nombre del estado]) VALUES (0, N'Nuevo')
INSERT [dbo].[Estado_de_pedidos] ([Id de situación], [Nombre del estado]) VALUES (1, N'Facturado')
INSERT [dbo].[Estado_de_pedidos] ([Id de situación], [Nombre del estado]) VALUES (2, N'Enviado')
GO
INSERT [dbo].[Estado_de_pedidos_de_compra] ([Id de situación], [Estado]) VALUES (0, N'Nuevo')
INSERT [dbo].[Estado_de_pedidos_de_compra] ([Id de situación], [Estado]) VALUES (1, N'Enviado')
INSERT [dbo].[Estado_de_pedidos_de_compra] ([Id de situación], [Estado]) VALUES (2, N'Aprobado')
GO
INSERT [dbo].[Facturas] ([Id de factura], [Id de pedido], [Fecha], [Fecha de vencimiento], [Impuestos], [Envío], [Importe debido]) VALUES (5, 31, CAST(N'2006-03-22T16:08:59.000' AS DateTime), NULL, 0, 0, 0)
INSERT [dbo].[Facturas] ([Id de factura], [Id de pedido], [Fecha], [Fecha de vencimiento], [Impuestos], [Envío], [Importe debido]) VALUES (6, 32, CAST(N'2006-03-22T16:10:27.000' AS DateTime), NULL, 0, 0, 0)
INSERT [dbo].[Facturas] ([Id de factura], [Id de pedido], [Fecha], [Fecha de vencimiento], [Impuestos], [Envío], [Importe debido]) VALUES (7, 40, CAST(N'2006-03-24T10:41:41.000' AS DateTime), NULL, 0, 0, 0)
GO
INSERT [dbo].[Pedidos_de_compra] ([Id de pedido de compra], [IdProveedor], [Creado por], [Fecha de envío], [Fecha de creación], [Id de situación], [Fecha prevista], [Gastos de envío], [Impuestos], [Fecha de pago], [Importe de pago], [Modo de pago], [Notas], [Aprobado por], [Fecha de aprobación], [Enviado por]) VALUES (90, 1, 2, CAST(N'2006-01-14T00:00:00.000' AS DateTime), CAST(N'2006-01-22T00:00:00.000' AS DateTime), 2, NULL, 0, 0, NULL, 0, NULL, NULL, 2, CAST(N'2006-01-22T00:00:00.000' AS DateTime), 2)
INSERT [dbo].[Pedidos_de_compra] ([Id de pedido de compra], [IdProveedor], [Creado por], [Fecha de envío], [Fecha de creación], [Id de situación], [Fecha prevista], [Gastos de envío], [Impuestos], [Fecha de pago], [Importe de pago], [Modo de pago], [Notas], [Aprobado por], [Fecha de aprobación], [Enviado por]) VALUES (91, 3, 2, CAST(N'2006-01-14T00:00:00.000' AS DateTime), CAST(N'2006-01-22T00:00:00.000' AS DateTime), 2, NULL, 0, 0, NULL, 0, NULL, NULL, 2, CAST(N'2006-01-22T00:00:00.000' AS DateTime), 2)
INSERT [dbo].[Pedidos_de_compra] ([Id de pedido de compra], [IdProveedor], [Creado por], [Fecha de envío], [Fecha de creación], [Id de situación], [Fecha prevista], [Gastos de envío], [Impuestos], [Fecha de pago], [Importe de pago], [Modo de pago], [Notas], [Aprobado por], [Fecha de aprobación], [Enviado por]) VALUES (92, 2, 2, CAST(N'2006-01-14T00:00:00.000' AS DateTime), CAST(N'2006-01-22T00:00:00.000' AS DateTime), 2, NULL, 0, 0, NULL, 0, NULL, NULL, 2, CAST(N'2006-01-22T00:00:00.000' AS DateTime), 2)
GO
INSERT [dbo].[Privilegios] ([Id de privilegio], [Nombre del privilegio]) VALUES (2, N'Aprobaciones de compras')
GO
INSERT [dbo].[Privilegios_de_empleados] ([Id de empleado], [Id de privilegio]) VALUES (2, 2)
GO
INSERT [dbo].[Productos] ([Id de proveedores], [Id], [Código de producto], [Nombre del producto], [Descripción], [Costo estándar], [Precio listado], [Punto de pedido], [Nivel objetivo], [Cantidad por unidad], [Suspendido], [Cantidad mínima de reposición], [Categoría], [Datos adjuntos]) VALUES (N'4', 1, N'NWTB-1', N'Té Chai Northwind Traders', NULL, 13.5, 18, 10, 40, N'10 cajas x 20 bolsas', 0, 10, N'Bebidas', NULL)
INSERT [dbo].[Productos] ([Id de proveedores], [Id], [Código de producto], [Nombre del producto], [Descripción], [Costo estándar], [Precio listado], [Punto de pedido], [Nivel objetivo], [Cantidad por unidad], [Suspendido], [Cantidad mínima de reposición], [Categoría], [Datos adjuntos]) VALUES (N'10', 3, N'NWTCO-3', N'Almíbar Northwind Traders', NULL, 7.5, 10, 25, 100, N'12 botellas de 550 ml', 0, 25, N'Condimentos', NULL)
INSERT [dbo].[Productos] ([Id de proveedores], [Id], [Código de producto], [Nombre del producto], [Descripción], [Costo estándar], [Precio listado], [Punto de pedido], [Nivel objetivo], [Cantidad por unidad], [Suspendido], [Cantidad mínima de reposición], [Categoría], [Datos adjuntos]) VALUES (N'10', 4, N'NWTCO-4', N'Condimentos de Louisiana Northwind Traders', NULL, 16.5, 22, 10, 40, N'48 botes de 180 g', 0, 10, N'Condimentos', NULL)
GO
INSERT [dbo].[Proveedores] ([Id], [Compañía], [Apellidos], [Nombre], [Dirección de correo electrónico], [Cargo], [Teléfono del trabajo], [Teléfono particular], [Teléfono móvil], [Número de fax], [Dirección], [Ciudad], [Estado o provincia], [C Postal], [País o región], [Página Web], [Notas], [Datos adjuntos]) VALUES (1, N'Proveedor A', N'García', N'Miguel A.', NULL, N'Jefe de ventas', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Proveedores] ([Id], [Compañía], [Apellidos], [Nombre], [Dirección de correo electrónico], [Cargo], [Teléfono del trabajo], [Teléfono particular], [Teléfono móvil], [Número de fax], [Dirección], [Ciudad], [Estado o provincia], [C Postal], [País o región], [Página Web], [Notas], [Datos adjuntos]) VALUES (2, N'Proveedor B', N'Cornejo', N'Cecilia', NULL, N'Jefe de ventas', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Proveedores] ([Id], [Compañía], [Apellidos], [Nombre], [Dirección de correo electrónico], [Cargo], [Teléfono del trabajo], [Teléfono particular], [Teléfono móvil], [Número de fax], [Dirección], [Ciudad], [Estado o provincia], [C Postal], [País o región], [Página Web], [Notas], [Datos adjuntos]) VALUES (3, N'Proveedor C', N'González', N'Nuria', NULL, N'Representante de ventas', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[Tipos_de_transacciones_de_inven] ([Id], [Nombre del tipo]) VALUES (1, N'Comprado')
INSERT [dbo].[Tipos_de_transacciones_de_inven] ([Id], [Nombre del tipo]) VALUES (2, N'Vendido')
INSERT [dbo].[Tipos_de_transacciones_de_inven] ([Id], [Nombre del tipo]) VALUES (3, N'Retenido')
GO
INSERT [dbo].[Transacciones_de_inventario] ([Id de transacción], [Tipo de transacción], [Fecha de creación de la transacción], [Fecha modificada de la transacción], [Id de producto], [Cantidad], [Id de pedido de compra], [Id de pedido de cliente], [Comentarios]) VALUES (35, 1, CAST(N'2006-03-22T16:02:28.000' AS DateTime), CAST(N'2006-03-22T16:02:28.000' AS DateTime), 80, 75, NULL, NULL, NULL)
INSERT [dbo].[Transacciones_de_inventario] ([Id de transacción], [Tipo de transacción], [Fecha de creación de la transacción], [Fecha modificada de la transacción], [Id de producto], [Cantidad], [Id de pedido de compra], [Id de pedido de cliente], [Comentarios]) VALUES (36, 1, CAST(N'2006-03-22T16:02:48.000' AS DateTime), CAST(N'2006-03-22T16:02:48.000' AS DateTime), 72, 40, NULL, NULL, NULL)
INSERT [dbo].[Transacciones_de_inventario] ([Id de transacción], [Tipo de transacción], [Fecha de creación de la transacción], [Fecha modificada de la transacción], [Id de producto], [Cantidad], [Id de pedido de compra], [Id de pedido de cliente], [Comentarios]) VALUES (37, 1, CAST(N'2006-03-22T16:03:04.000' AS DateTime), CAST(N'2006-03-22T16:03:04.000' AS DateTime), 52, 100, NULL, NULL, NULL)
GO
INSERT [dbo].[Transportistas] ([Id], [Compañía], [Apellidos], [Nombre], [Dirección de correo electrónico], [Cargo], [Teléfono del trabajo], [Teléfono particular], [Teléfono móvil], [Número de fax], [Dirección], [Ciudad], [Estado o provincia], [C Postal], [País o región], [Página Web], [Notas], [Datos adjuntos]) VALUES (1, N'Compañía de transportes A', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'Calle Principal, 123', N'Memphis', N'TN', N'99999', N'España', NULL, NULL, NULL)
INSERT [dbo].[Transportistas] ([Id], [Compañía], [Apellidos], [Nombre], [Dirección de correo electrónico], [Cargo], [Teléfono del trabajo], [Teléfono particular], [Teléfono móvil], [Número de fax], [Dirección], [Ciudad], [Estado o provincia], [C Postal], [País o región], [Página Web], [Notas], [Datos adjuntos]) VALUES (2, N'Compañía de transportes B', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'Calle Principal, 123', N'Memphis', N'TN', N'99999', N'España', NULL, NULL, NULL)
INSERT [dbo].[Transportistas] ([Id], [Compañía], [Apellidos], [Nombre], [Dirección de correo electrónico], [Cargo], [Teléfono del trabajo], [Teléfono particular], [Teléfono móvil], [Número de fax], [Dirección], [Ciudad], [Estado o provincia], [C Postal], [País o región], [Página Web], [Notas], [Datos adjuntos]) VALUES (3, N'Compañía de transportes C', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'Calle Principal, 123', N'Memphis', N'TN', N'99999', N'España', NULL, NULL, NULL)
GO
